# Clerk Authentication
VITE_CLERK_PUBLISHABLE_KEY=pk_test_ZW5kbGVzcy1ibG93ZmlzaC01OS5jbGVyay5hY2NvdW50cy5kZXYk

CLERK_SECRET_KEY=sk_test_IMYRW0puwKsc4JPytej9AW6DtGSMiwCsSJcL3atVyv
VITE_RAZORPAY_KEY_ID=rzp_test_your-key-id

# API Base URL
VITE_API_BASE_URL=http://localhost:3001